In [ ]:
# Importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Load the dataset
# Replace the path with the actual path to your CSV file
df = pd.read_csv(r'C:\Users\OGTL_ADMIN\Desktop\eda_ogtl_ass1\data.csv')
df.info()

In [ ]:
## checking the shape of the dataset
df.shape

In [ ]:
# A view of the dataset 
df.head()

## - Checking for missing values.

In [ ]:
# list of columns in the dataset with missing values and the amount of missing values
df.isna().sum()

In [ ]:
# Checking for the amount of columns with missing values
missing  = df.isna().columns.value_counts().sum()
print('number of columns with missing values:',missing)

In [ ]:
# List of columns with missing values
missing_columns = df.isna().columns.tolist()
numbered_columns = [f"{i+1}. {col}" for i, col in enumerate(missing_columns)]
for item in numbered_columns:
    print(item)

From this we notice a large amount of missing values,<br/> so we do a quick check on how the columns with the most missing values to see the relevance of the columns.

# - Lets first check for columns with categorical data<br/>
Categorical data is data that can be divided into groups or categories. <br/>
This data is of the data type 'object' meaning none numerical

In [ ]:
# Amount of categorical data columns
num_categorical_data = df.select_dtypes(include=['object']).columns.value_counts().sum()
print('number of categorical data columns:', num_categorical_data)

In [ ]:
# The list of categorical columns
categorical_columns = df.select_dtypes('object').columns
num_columns = [f"{i+1}. {col}" for i, col in enumerate(categorical_columns)]
for item in num_columns:
    print(item)

#### Now that we have our categorical columns, lets checking for unique items in each column with more than 7 missing Items to see if they are relevant to our analysis.

In [ ]:
# number of unique items in each categorical column
cat_data = df[categorical_columns].nunique()
print(cat_data)

Why more than 7, because the have a very wide gap between the amount of missing values  between the categorical columns and this raises concern as we notic from just 5 and 7 missing values there are columns with 1000+ missing values.

In [ ]:
# Unique items in each categorical column
for col in categorical_columns:
    if df[col].isna().sum() > 7:
        print(col)
        print('number of missing values: ', df[col].isna().sum())
        print('number of unique values: ', df[col].nunique())
        print(df[col].unique())
        print('------------------')
        print()

# - Now lets check for columns with numerical data<br/>
Numerical data is data that can be measured and written down with numbers. <br/>

In [ ]:
# Amount of columns with numerical data
numerical_columns = df.select_dtypes(include=[np.number]).columns.value_counts().sum()
print('number of numerical columns:', numerical_columns)

number of numerical columns: 4

In [ ]:
# The list of numerical columns
numerical_column = df.select_dtypes(include=[np.number]).columns.tolist()

# Format and print the numerical column names
num_columns = [f"{i+1}. {col}" for i, col in enumerate(numerical_column)]
for item in num_columns:
    print(item)

1. Case Number
2. Parent Case Number
3. Product UPC
4. Store

###  Now we have our unique values, and from this we can check relevance of the columns to our analysis.

In [ ]:
# Amount of missing values in each column
df[numerical_column].isna().sum()

Case Number               6
Parent Case Number        6
Product UPC           12274
Store                 12636
dtype: int64

In [ ]:
# A view of the numerical columns
# Displaying the first few rows of the numerical columns
numerical_columns = df.select_dtypes(include=[np.number]).columns
df[numerical_columns]

       Case Number  Parent Case Number   Product UPC  Store
0       46099750.0                 0.0  6.151100e+12    NaN
1       46112301.0                 0.0           NaN    NaN
2       46099419.0                 0.0  6.151100e+12    NaN
3       46112281.0                 0.0           NaN    NaN
4       46098960.0                 0.0           NaN    NaN
...            ...                 ...           ...    ...
12631          NaN                 NaN           NaN    NaN
12632          NaN                 NaN           NaN    NaN
12633          NaN                 NaN           NaN    NaN
12634          NaN                 NaN           NaN    NaN
12635          NaN                 NaN           NaN    NaN

[12636 rows x 4 columns]

## Here we notice a wide difference in missing values to the ratio of the missing values in the categorical columns<br/>
So we now evaluate ways to handle the missing values in the columns<br/>
#### - Now we have our unique values, and from this we can check the relevance of the columns to our analysis.<br/>
#### - We will also consider the impact of these missing values on our overall analysis and results.<br/>
#### - Next, we will implement strategies to impute or remove these missing values.<br/>
#### - We will explore different imputation techniques such as mean, median, and mode.<br/>
#### - Finally, we will assess the effectiveness of these strategies on our dataset.